* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,
body {

  background: var(--clr_dark);
  color: var(--clr_mid2);
  font-family: "Telegraph";
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;
  list-style: none;
  scroll-behavior: smooth;


}

.container {
  padding-inline: 2rem;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}


img {
  image-rendering: -webkit-optimize-contrast !important;
  image-rendering: crisp-edges !important;
}

:root {
  --clr_dark: #0E0E0E;
  --clr_mid1: #181818;
  --clr_mid2: #626262;
  --clr_light: #ffffff;
  --clr_accent: #2720f2;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--clr_font_accent);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--clr_bg);
}

@font-face {
  font-family: 'Machina';
  src: url("../fonts/PPNeueMachina-InktrapRegular.otf") format('OpenType');

}

@font-face {
  font-family: 'Telegraph';
  src: url("../fonts/PPTelegraf-Regular.otf") format('OpenType');
  font-weight: 400;

}


@font-face {
  font-family: 'Matrix';
  src: url("../fonts/MatrixSans-Video.ttf") format('TrueType');
  font-weight: 400;

}

::selection {
  color: var(--clr_accent);
}




header {
  height: 100vh;
  margin-bottom: 8rem;
}

nav {
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav h1,
nav a {
  font-size: 1rem;
  color: var(--clr_light);
}


nav a:hover {
  color: var(--clr_mid2);
}

ul,
li {
  display: flex;
  flex-direction: row;
  align-items: center;

}

nav li {
  margin-left: 2rem;
}

.accent {
  color: var(--clr_light);
  font-family: "Machina";
}


.title {
  font-family: "Machina";
  color: var(--clr_light);
  font-size: calc(15500vw/ 1249);
  font-weight: 300;
  width: 100%;
  letter-spacing: -0.049em;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  pointer-events : none;
}

.title__letters {
  will-change: transform;
  opacity: 0;
  transform-origin: bottom;
  transform: rotateX(90deg) translateY(-240%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
.matrix {
  font-family: "Matrix";
  letter-spacing: 0em;
  margin-top: -37px;

}


.header__bottom {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

}

.header__botton__container {
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header__botton__container h2 {
  line-height: 191.5%;
  font-size: 2, 5rem;
}


.text__reveal {

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Machina";

}

.small__title {
  line-height: 191.5%;
  margin-bottom: 1rem;
}

.split__lines {
  display: block;
  color: var(--clr_light);
  width: auto;
  line-height: 191.5%;
  font-size: 3rem;
  text-align: center;
}

.reveal__callto {
  line-height: 191.5%;
  font-size: 3rem;
  color: var(--clr_light);
  display: flex;
  padding-top: calc(4 * 1.195rem);
}

.callto__letters {
  will-change: transform;
  opacity: 0;
  transform-origin: bottom;
  transform: rotateX(90deg) translateY(-240%);
}

.line {
  position: relative;
  text-align: center !important;
}

.line__mask {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--clr_dark);
  opacity: 0.65;
  height: 100%;
  width: 100%;
  z-index: 2;

}

.section__marquee {
  height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.marquee {
  width: 120%;
  margin: auto;
  overflow: hidden;
  border-top: 3px solid var(--clr_mid1);
  border-bottom: 3px solid var(--clr_mid1);
  display: flex;
  transform: rotate(-3.62deg);

}

.revesed {

  transform: rotate(3.62deg);

}

.marquee h3 {
  padding-block: 1rem;
  font-size: 8rem;
  white-space: nowrap;
  color: var(--clr_light);
  font-family: "Machina";
  font-weight: 400 !important;
}

.button__marquee {
  position: absolute;
  background-color: var(--clr_mid1);
  color: var(--clr_light);
  font-size: 1.5rem;
  padding: 1em 2em;
  border-radius: 500px;
  margin-left: 2rem;
  z-index: 2;
}

.button__marquee:nth-child(2) {
  position: absolute;
  margin-top: 3rem;
  margin-left: 1rem;
  z-index: 2;
}

.button__marquee:nth-child(3) {
  position: absolute;
  margin-top: 0, 5rem;
  margin-left: -3rem;
  z-index: 2;
}

.button__marquee a:hover {
  color: var(--clr_light);
}

.card {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--clr_mid1);
  border-radius: 76px;

  /* ---------------- */
  will-change: transform;
  transform-origin: bottom;
  transform: rotateX(95deg) translateY(-120%);
  opacity: 0;
}

.card__container {
  margin-bottom: 100vh;
}


.card__content {
  height: 45vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-inline: 4rem;
}

.card__content h4 {
  color: var(--clr_light);
  font-size: 2.5rem;
  font-family: "Machina";
  line-height: 191.5%;
  margin-bottom: 2rem;
}

.card__content p {
  font-size: 1rem;
  line-height: 191.5%;
  margin-bottom: 2rem;
  width: 40%;
}

button {
  background-color: var(--clr_dark);
  color: var(--clr_light);
  border-radius: 500px;
  border: transparent;
  border: 1px solid var(--clr_light);
  width: 180px;
  height: 40px;

}





/* ------------------------------- Nav_link v2 ------------------------------ */
.nav__link {
  height: 30px;
  align-items: center;
  color: reds;
  text-decoration: none;
  display: flex;
}

.nav__link__mask {
  position: relative;
  padding: 0;
  height: 20px;
  overflow: hidden;
}

.nav__link__container {
  transition: transform 0.6s cubic-bezier(0.435, 0.25, 0.15, 0.965);
}

.nav__title {
  display: block;
  line-height: 20px;
  transition: transform 0.6s cubic-bezier(0.435, 0.25, 0.15, 0.965);
}

.nav__link__1 {
  transform-origin: right center;
}

.nav__link__2 {
  transform-origin: left center;
  transform: rotate(20deg);
}


.nav__link:hover .nav__link__container {
  transform: translateY(-20px);
}

.nav__link:hover .nav__link__1 {
  transform: rotate(20deg);
}

.nav__link:hover .nav__link__2 {
  transform: rotate(0);
}

